<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Error Page</title>
</head>

<body>

<div class="container">

	<h3>Error Page</h3>
	<hr>
		
	<p class="h4 mb-4">Access is Denied!!</p>
	<hr>
	
	<p>Want to go back to homepage?</p>
	
	<a th:href="@{/}"
		class="btn btn-primary btn-sm mb-3">
		Click Here
	</a>
	
</div>
	
</body>
</html>
	  